<h1><%= @task.title  %></h1>
<p><%= @task.details %></p>
<% if @task.completed === true %>
  <% texts = "This task is completed"  %>
<%else  %>
  <% texts = "This task is not completed yet"  %>
<%end  %>
<p><%= texts %></p>

<p><%= link_to "Edit this task", "/tasks/#{@task.id}/edit" %></p>
<p><%= link_to "Back to list", "/tasks" %></p>
